@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #222831;
    --color-secondary: #393e46;
    --color-accent: #4ECCA3;
    --color-neutral: #eeeeee;

    --font-josefin: 'Josefin Sans', sans-serif;
    --font-bungee: 'Bungee', cursive;
}

@layer base {
    html {
        @apply bg-primary text-neutral font-josefin;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }

    input, textarea {
        @apply appearance-none;
    }

    body {
        @apply antialiased scroll-smooth;
    }

    ::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: var(--color-secondary);

	}

	::-webkit-scrollbar-thumb {
		background: var(--color-accent);
		border-radius: 10px;
		border: 3px solid var(--color-secondary);
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--color-accent);
        width: 12px;
	}
}
